body{
  text-align: center;
}
.toolbar{
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  background-color: black;
}
#button{
  padding: 15px 30px;
  text-decoration: none;
  color: white;
}
#button:hover{
  background-color: rgb(44, 44, 44);
}
#current{
  background-color: rgb(88, 88, 88);
}
